/*
*
*version 1.0
*factweavers.com
*ui design by jagadeeshlal
*/

body {
    color: #3d4347;
    background: #f4f8f9;
    font-size: 0.8125rem;
    font-family: $font-stack;
    overflow-x: hidden;
}

img {
    display: inline-block;
    max-width: 100%;
}

a {
    &:hover,
    &:focus {
        outline: 0px;
        text-decoration: none;
    }
}

p {
    line-height: 1.175rem;
}

.main-wraper {
    margin-top: 70px;
    @include respond-to($tablet-portrait) {
        margin-top: 122px;
    }
}

.main-content {
    display: block;
    margin-top: 20px;
    padding: 0;
    .row {
        margin: 0px -0.625rem;
    }
    [class^="col-"] {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }
}

.loader-overlay {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include transition(all .8s ease);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    .loader {
        flex: 0 0 auto;
        position: relative;
        width: 30px;
        height: 30px;
        border: 3px solid #b4bbc3;
        border-top: 3px solid #2484fd;
        z-index: 9999;
        @include border-radius(50%);
        @include animation('spin .5s infinite linear');
    }
}

@include keyframes(spin) {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}